<%- include('navbar') -%>
      
      <div style= "display: flex; flex-direction: column; justify-content: center; align-items: center;">  
        
     <img src="./images/logoo.png" alt="">
     <img src="./images/banner.png" alt="">
      
    
    
    </div>
    
</body>
</html>